<div
  class="slide"
  [style.background-image]="'url(' + (slide.backgroundUrl || 'assets/img/slides_background.png') + ')'"
>
  <h2>{{ slide.title }}</h2>

  <div class="content">
    <!-- Párrafos -->
    <div class="text">
  <!-- Mostrar 'text' SIEMPRE que exista -->
  <p *ngIf="slide.text" class="paragraph-animate">
    {{ slide.text }}
  </p>

  <!-- Párrafos -->
  <ng-container *ngIf="slide.paragraphs && slide.paragraphs.length > 0">
    <ng-container *ngFor="let paragraph of slide.paragraphs; let i = index">
      <!-- <p
        *ngIf="paragraph"
        class="paragraph-animate"
        [style.animation-delay]="'0.' + i + 's'"
      >
        {{ paragraph }}
      </p> -->
      <div 
        *ngIf="paragraph" 
        class="paragraph-animate" 
        [innerHTML]="paragraph" 
        [style.animationDelay]="'0.' + i + 's'"
      ></div>
    </ng-container>
  </ng-container>
</div>

    <!-- Imágenes -->
    <div class="images">
      <ng-container *ngFor="let img of slide.images">
        <div class="image-wrapper">
          <img *ngIf="img.url" [src]="img.url" alt="Slide image" />
          <div class="image-caption" *ngIf="img.caption">
            {{ img.caption }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Pie de página -->
  <footer class="slide-footer" *ngIf="slide.footerText">
    {{ slide.footerText }}
  </footer>
</div>
