<div class="presentation-container" (mouseenter)="showNav = true" (mouseleave)="showNav = false">
  <app-cover *ngIf="currentSlide === 0" (iniciar)="nextSlide()"></app-cover>
  <app-slide *ngIf="currentSlide > 0" [slide]="slides[currentSlide - 1]"></app-slide>

  <div class="navigation" [class.show-navigation]="showNav">
    <button class="btn btn-prev" [disabled]="currentSlide === 0" (click)="previousSlide()">◀ Anterior</button>
    <span>Diapositiva {{ currentSlide + 1 }} de {{ slides.length + 1 }}</span>
    <button class="btn btn-next" [disabled]="currentSlide === slides.length" (click)="nextSlide()">Siguiente ▶</button>
  </div>